
/*********Start Add Test********/
.middle_content .add_test {
	display : none;
	
	
}


.middle_content{
	position : relative;
	width: auto;
}


/*.middle_content .test_list_div {
	float :left;
}*/


/*********End Add Test********/

/*****Error*****/
label.error{
	color:red;
}
/*
    Changes by rahul
*/

#userTestSettingLeft {
    width :50%;
    border: 1px solid black;
    float:left;
}
#userTestSettingRight {
    width: 30%;
    border: 1px solid black;
    float:left;
    margin-left:10px;
}
#userTestSettingRight div,#userTestSettingLeft div {
    margin:10px;
}
.testSettingCommonHeight1 {
    height: 60px;
    padding:5px;
}
.testSettingCommonHeight2 {
    height: auto;
    padding:5px;
}
#questionsPerPage {
    width:2em;
}

#category_name {
	width : 30%;
	height : 50px;
}


/*  Css Bhanu   */
    
 
textarea{
	resize:none;
}
.colorblue{
    color: #3741e1;
}
.bluebutton{
    border-radius: 4px;
    background-color: #2d9be8;
    color: white;
    border:0 ;
}
#faq_head{
	
	height: 50px;
	width:auto;
	background-color:#58ACFA;
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: -40px;
	padding-top: 20px;

}

.marginl24{
    margin-left: 24px;
}
  .fontsize24{
	font-size: 1em;
   } 
   .colorwhite{
	
   	color:white;
   }
   
  .bigmid{
	
  	height: 100%;
  	width: 75%;
  	z-index: 0;
  	margin:20px; 
	margin-top:100px;
  }
  .midpanel{
	width: 85%;  
  	border: 1px solid #cdcdcd;
margin-left:1.5%;
  	padding: 5px;



  } 
  .midright{
	
  	height: 100%;
  	width: 30%;
  	padding: 5px;
  	border: 1px solid #cdcdcd;
  	float: right;
  	margin-left: 50.5em;
  	position: absolute;
  	
  
  }
  
  .errdiv{
  	background-color:blue;
	padding:10px;
  	height:auto;
  	width: 200px;
  	left: 20px;
  	top:10px;
  }

/* css ends here  */

/*************Start Dasboard Menu CSS by Pankaj********************/

.menu_container{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;

}
.links {
	position: fixed;
	top 	: 	23px;
	float	:   left;
	left 	:  300px;
    z-index: 50;

}

.links a {
	border                  :	1px solid #ddd;
	margin-left				:   8px;
	padding					:	11px;
	font-weight				: 	bold;
	font-size 				:	0.7em;
	display 				: 	inline-block;
	text-decoration 		:   none;
	color 					:   #FFAB68; 	
	float 					:	left;				

	border-radius			:	5px;


}


.menu_container ul li{
	
	text-align 				: left;
	display                 : inline-block;
	padding  				: 1px;
	float:left;
	margin                  : 5px;
}

.menu_container ul li a{
	border                  :	1px solid #ddd;
	margin-left				:   8px;
	padding					:	11px;
	font-weight				: 	bold;
	font-size 				:	1.3em;
	display 				: 	inline-block;
	text-decoration 		:   none;
	color 					:   #FFAB68;
		
	float 					:	left;				

	border-radius			:	5px;

}

.menu_container ul li a:hover{
	background-color 		:   #8A8A8A;
	color 					:   white; 	
	
}
.links a:hover {
	
	background-color 		:    #6C6C6C;

}


.menu-services  {

	list-style-type			: none;
	left					:   380;
	padding					:	1px;
	font-size 				:	0.5em;
	display 				: 	inline-block;
	text-decoration 		:   none; 	
	float 					:	left;				
	width					:   auto;
	border-radius			:	5px;
    text-align				: 	left;
    height                  :   auto;
	position 				:   fixed;
	top 				    : 	72;
	color 					:   black;
	z-index					:	50px;
background-color:#336699 ;
}

.tech-services  {	
	position: fixed;

	z-index					:	999999;
	list-style-type  		: 	none;
	border                  :	2px solid #ddd;
	top 				: 	115;
	color 					:   black;
	padding					:	1px;
	font-size 				:	0.5em;
	display 				: 	inline-block;
	text-decoration 		:   none; 	
	float 					:	left;				
	width					:   auto;
	border-radius			:	5px;
    text-align				: 	left;
   height                  :    auto;
    position                :   absolute;
    left					:	380;
    background-color 		:   #9B9B9B;
	border                  :   1px solid 	white;
}



.midpanel{
	
  	height:100%;
  
  	float:left;
  	
  	
  } 
  
.midpanel_content
  {
  	height: auto;
  	width:	95%;
  	float: right;
  	margin-top: 30px;
  }
.recent_result_header
  {
  	background-color: black;
  	height:10%;
  	color: white;
  	padding-top: 25px;
  	padding-left:20px;
  	font-size: 2em;
  	
  }
  


.category_content {
	position : relative;
	color:black;
}
.category_div {
	float : left;
	width:100%;
	display: none;
	
	
}



/*************End Dasboard Menu CSS by Pankaj********************/




.username_login{
	
	float: right;
	text-align: left;
	margin-right: 2px;
	padding: 25px;


}
.welcome_user{
	font-style: italic;
	color: white;
	font-size: 0.8em;
	margin-left: 10px;

}
.hover:hover{
	color: orange;
}

.submmit_button_generic{
	border                  :	1px solid #ddd;
	margin-left				:   15px;
	width: 250px;

	padding					:	10px;
	font-style 				: italic;
	font-weight				: 	900;

	font-size 				:	0.8em;
	background-color 		:   #585858;
	color 					:   white; 	
		
	border-radius			:	5px;

}

.button_generic{
	border                  :	1px solid #ddd;

	padding					:	9px;
	font-weight				: 	bold;
	font-size 				:	0.6em;
	background-color 		:  #336699;
	color 					:   #FFAB68; 	
	float 					:	right;				
	border-radius			:	5px;

}



.bg-fg-button-color{

	background-color 		:   #295292;
	color 					:   white; 	
}

.next_prev{
	padding: 0;
	text-align: center;
	margin: 0;


}
input[type='radio']{
padding: 5px;
margin:10px;
margin-left:20px;
border: 1px solid red;
background-color: blue;


}
.submmit_button_generic:hover {
	
	background-color 		:    #6C6C6C;
	cursor: pointer;

}
.button_generic:hover {
	
	background-color 		:    #6C6C6C;
	cursor: pointer;
}
.select_generic{
	width 					:  200;
	height 					:  35px;
	background-color 		:   #585858;
	color 					:   white; 	
	border-radius			:	5px;
	font-size 				:	0.8em;
	padding 				: 	3px;
	float 					:	 right ;

}
.text_right_generic{
	width 					:  200px;
	height 					:  45px;
	border-radius			:	5px;
	font-size 				:	1.2em;
	
	float 					:	 right ;
	border: 1px solid #295292;
}



.text_right_generic-small{
	width 					:  400px;
	height 					:  85px;
	border-radius			:	5px;
	font-size 				:	0.8em;
	
	float 					:	 right ;

}
label{
	float						: left;
	font-family					: georgia;
	font-style					: italic;
	clear						:both;
	padding						: 10px;
}
.space{
	height						: 20px;
	width: 100%;
clear: both;
margin-top:1px; 

}
.table-generic,div table{
	float:						 left;
	clear						:both;
	padding						: 8px;
	width						: 90%; 

}
.table-generic th,div table th{
	padding					: 15px;
	border-radius				: 5px;
	background-color:#336699	;
	color 				: white;
	

}
.table-generic tr, .table-generic td,div table td {
	text-align: center;
	padding 					:6px;
	border-radius				: 5px;
	font-style: italic;
	font-family: georgia;
	font-size: 1em;

}

.table-generic a , div table a {

	border                  :	1px solid #ddd;

	padding					:	9px;
	font-weight				: 	bold;
	font-size 				:	0.7em;
	background-color 		:  #336699;
	color 					:   white; 	

	float 					:	right;				

	border-radius			:	5px;


}
.font-generic-default{
font-family: georgia;
font-style: italic;
font-weight: 100;


}
.font-generic-mid{
font-family: georgia;
font-style: italic;
font-size: 0.8em;

font-weight: 100;


}

.font-generic-small{
font-family: georgia;
font-style: italic;
font-size: 0.7em;

font-weight: 100;


}
tr:nth-child(even) {
	background-color : #ddd;
}

tr:nth-child(odd) {
	background-color : #eee;
}
a{
color:  #585858;	
}
p{
	border: 1px solid #eee;
	width: 99%;
	font-family: georgia;
font-style: italic;
font-size: 0.8em;
clear: both;
margin: 10px;

margin-left: 2px;

font-weight: 100;
}
.floatr{
	float:right;	
}
.floatl{
    float: left;
}